{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
    function getOfficeList() {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            ul.innerHTML = ''; // Очищаем список перед обновлением

            for (let i = 0; i < office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                li.innerText = `${office.number}: ${office.tenant || 'свободен'}, стоимость: ${office.price} руб.`;

                // Кнопка бронирования
                const bookingButton = document.createElement('button');
                bookingButton.innerText = 'Зарезервировать';
                bookingButton.onclick = function() { booking(office.number) };
                li.appendChild(bookingButton);

                // Кнопка отмены бронирования
                if (office.tenant) {
                    const cancellationButton = document.createElement('button');
                    cancellationButton.innerText = 'Освободить';
                    cancellationButton.onclick = function() { cancellation(office.number) };
                    li.appendChild(cancellationButton);
                }

                ul.appendChild(li);
            }

            // Обновляем общую стоимость бронирования
            updateUserTotalCost();
        });
    }

    function updateUserTotalCost() {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'user_total_cost',
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            const totalCostElement = document.getElementById('total-rented-cost');
            totalCostElement.innerText = `Ваша общая стоимость бронирования: ${data.result} руб.`;
        });
    }

    function booking(officeNumber) {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'booking',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error.message);
            } else {
                getOfficeList();
            }
        });
    }

    function cancellation(officeNumber) {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'cancellation',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error.message);
            } else {
                getOfficeList();
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        getOfficeList();
    });
</script>
{% endblock %}

{% block main %}
<h1>Список кабинетов</h1>
<ul id="office-list"></ul>
<h2 id="total-rented-cost"></h2>
{% endblock %}
