{% extends "base.html" %}

{% block lab %}Авторизация{% endblock %}

{% block main %}
    <h1>Авторизация</h1>
    <form class="auth-form" method="POST" action="{{ url_for('rgz.login') }}">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
        <p>Нет аккаунта? <a href="{{ url_for('rgz.register') }}">Зарегистрируйтесь</a></p>
    </form>
{% endblock %}