{% extends "base.html" %}

{% block lab %}Авторизация{% endblock %}

{% block main %}
    <h1>Авторизация</h1>
    <form class="auth-form" method="POST" action="{{ url_for('rgz.login') }}">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
        <p><a href="{{ url_for('rgz.register') }}">Зарегистрируйтесь, если нет аккаунта</a></p>
    </form>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<style>
    .flash-messages {
        list-style-type: none;
        padding: 0;
    }
    .flash-messages li {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
    }
</style>

{% endblock %}