{% extends "base.html" %}

{% block lab %}Регистрация{% endblock %}

{% block main %}
{% block script %}
    <script src="{{ url_for('static', filename='rgz/script.js') }}"></script>
{% endblock %}
    <h1>Регистрация</h1>
    <form method="POST" action="{{ url_for('rgz.register') }}">
        <div>
            <label for="full_name">ФИО:</label>
            <input type="text" id="full_name" name="full_name" required>
        </div>
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('rgz.login') }}">Войдите</a></p>
{% endblock %}