{% extends "base.html" %}
{% block lab %}Главное меню{% endblock %}
{% block main %}
    <h1>Кинотеатр</h1>
    <ul class="list-container">
        {% if 'user_id' in session %}
            <li><a href="{{ url_for('rgz.index') }}">Список сеансов</a></li>
            <li><a href="{{ url_for('rgz.logout') }}">Выйти</a></li>
            {% if session.get('is_admin') %}
                <li><a href="{{ url_for('rgz.admin_add_movie') }}">Добавить сеанс</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ url_for('rgz.register') }}">Регистрация</a></li>
            <li><a href="{{ url_for('rgz.login') }}">Авторизация</a></li>
        {% endif %}
    </ul>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<style>
    .flash-messages {
        list-style-type: none;
        padding: 0;
    }
    .flash-messages li {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
    }
</style>

{% endblock %}