{% extends "base.html" %}
{% block lab %}Главное меню{% endblock %}
{% block main %}
    <h1>Кинотеатр</h1>
    <ul class="list-container">
        {% if 'user_id' in session %}
            <li><a href="{{ url_for('rgz.index') }}">Список сеансов</a></li>
            <li><a href="{{ url_for('rgz.logout') }}">Выйти</a></li>
            {% if session.get('is_admin') %}
                <li><a href="{{ url_for('rgz.admin_add_movie') }}">Добавить сеанс</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ url_for('rgz.register') }}">Регистрация</a></li>
            <li><a href="{{ url_for('rgz.login') }}">Авторизация</a></li>
        {% endif %}
    </ul>
{% endblock %}